@font-face {
  font-family: "caviarDreamsBold";
  src: url('../fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: "caviarDreams";
  src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: "caviarDreamsItalic";
  src: url('../fonts/CaviarDreams_Italic.ttf');
}

@font-face {
  font-family: "caviarDreamsBoldItalic";
  src: url('../fonts/CaviarDreams_BoldItalic.ttf');
}


body{
  background-color: #202020;
}


.navbar{
  height: 80px;
}

.navbar-brand img {
  width: 50%;
}

.navbar-dark{
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
  font-family: 'caviarDreams';
  font-variant: small-caps;
}

video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}

.container-fluid{
  padding: 0;
}

#firstPage{
  height: 100vh;
}

#secondPage{
  height: 100vh;
  background-color: red;
}

.defil{
  position: absolute;
  left: 60px;
  top: 90vh;
  color: whitesmoke;
  text-decoration: underline;
}
